body{ font-size:2.4em !important; }
.plan{ font-size:0.8em !important; }
.frontpage { background:url('images/an01_pirate2.png') 0 0px no-repeat; height:568px; width:1010px;  }
.frontpage h1 { border:none; }